.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#ffffff 0%, #2d7df1 10%, #50d7f0 100%);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell{
	-fx-font-size: 24px;
   -fx-font-family: 'nevis';
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 1.5, 0.0 , 0 , 1.5 );
}
.list-cell:filled:hover {
    -fx-background-color: #2d7df1;
    -fx-text-fill: white;
}

@font-face {
    font-family: nevis;
    src: url('nevis.otf');
}

